footer.footer 
    .container
        .footer__items.flex
            .footer__item.footer__item--first 
                .footer__title 
                    h3 КАТАЛОГ 
                .footer__lists.flex
                    .footer__lists_items
                        li 
                            a(href='#') Дымоходы
                        li     
                            a(href='#') Дымососы
                        li   
                            a(href='#') Печи для дома
                        li    
                            a(href='#') Печи для бани    
                    .footer__lists_items         
                        li    
                            a(href='#') Камины
                        li     
                            a(href='#') Силикат кальция
                        li    
                            a(href='#') Котлы
                        li  
                            a(href='#') Ещё                
            .footer__item.footer__item--second 
                .footer__title 
                    h3 ИНФОРМАЦИЯ
                .footer__lists.flex
                    .footer__lists_items
                        li 
                            a(href='#') Каталог
                        li  
                            a(href='#') Установка и монтаж
                        li 
                            a(href='#') Отзывы
                        li   
                            a(href='#') Ликвидация товара
                    .footer__lists_items    
                        li   
                            a(href='#') Полезное
                        li    
                            a(href='#') Контакты
                        li   
                            a(href='#') Оплата и доставка 
            .footer__item 
                .footer__title 
                    h3 ВРЕМЯ РАБОТЫ 
                .footer__content
                    .footer__content_schedule
                        span.span__days.span__days_img пн-пт
                        span.span__time 9:00-20:00
                        span.span__days сб-вс
                        span.span__time 10:00-18:00
                    .footer__content_adress
                        p г. Санкт - Петербург ,ул. Тамбасова д.7
                .networks.flex.networks--footer
                    .networks__item
                        img(src='assets/images/vk.svg' alt='vkontakte')         
                    .networks__item
                        img(src='assets/images/tg.svg' alt='telegram')         
                    .networks__item
                        img(src='assets/images/ig.svg' alt='instagram')         
                    .networks__item
                        img(src='assets/images/whatsapp.svg' alt='whatsapp')     
                        

                         
                            